#parent{
    margin-top: 15%;
    margin-left: 32%;
    background:linear-gradient(to right,blue,rgb(217, 33, 63));
    /*background: linear-gradient(to right, red, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: rgb(237, 233, 233);
    font-size: 30px;
    font-style:bold;
    width: 500px;
    height:300px
    
}
body{
    background-color: rgb(1, 1, 1);
}
#screen{
  
    font-family: 'Digital7', monospace;
    
    margin-left: 20%;

 
    
}
span{
    border-color: rgb(246, 237, 237);
    border-style: solid;
    border-width: 5px;
    font-size: 80px;
}
@font-face {
    font-family: 'Digital7';
    src: url('fonts/digital-7.ttf') format('truetype');
}
